* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
.background-img {
  background-image: linear-gradient(rgb(0, 0, 0, 0.5), rgb(0, 0, 0, 0.5)),
    url("bg.jpg");
  width: 1600px;
  height: 700px;
  position: relative;
}
.title {
  position: absolute;
  top: 1000px;
  image-rendering: inherit;
}

.nav {
  display: grid;
  grid-template-columns: 100px 100px 100px 100px 100px 100px 100px;
  width: 800px;

  position: absolute;
  top: 65px;
  right: 70px;
  font-family: sans-serif;
  gap: 20px;
}

.SERVICES {
  margin-left: 20px;
}
.TEAM {
  margin-left: 20px;
}
.CONTACT {
  margin-left: -15px;
}
header h1 {
  position: absolute;
  /* align-items: center; */
  top: 270px;
  font-family: sans-serif;
  left: 400px;
  font-size: 45px;
  color: white;
}
header p {
  position: absolute;
  /* align-items: center; */
  top: 320px;

  left: 300px;
  font-size: 25px;
  color: white;
  width: 1000px;
  margin-top: 20px;
}
.links {
  display: grid;
  grid-template-columns: 1fr 1fr;

  position: absolute;
  top: 500px;
  left: 600px;
  justify-content: center;
  gap: 70px;
}
.download-now {
  background-color: #4d8cf5;
  text-decoration: none;
  padding: 15px;
  border-radius: 8px;
}
.features {
  border: 2px solid #4d8cf5;
  padding: 15px;
  border-radius: 8px;
  text-decoration: none;
}
.features:hover {
  background-color: #4d8cf5;

  color: white;
}
.download:hover {
  background-color: #1c1d1d;
  /* text-decoration: none; */
  color: white;
}

.line {
  display: grid;
  justify-content: center;
  border-top: 2px solid #4d8cf5;
  width: 65px;
  margin-left: 120px;
}
.small-info {
  margin-top: 100px;
  display: grid;
  font-family: sans-serif;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-left: 50px;
  row-gap: 20px;
}
article {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 1400px;

  line-height: 1.5;
  margin-left: 155px;
  margin-top: 30px;
}
.para1 {
  margin-bottom: 10px;
}
.pen {
  margin-left: 50px;
}

.gallery {
  margin-top: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.contact {
  display: grid;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
  margin-bottom: 80px;

  grid-template-rows: 1fr 1fr;
}
.contact-now {
  border: 2px solid #4d8cf5;
  text-decoration: none;
  padding: 10px;
  margin-top: 8px;
  margin-bottom: 30px;
  margin-left: 80px;
  padding: 15px 15px;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 10px;
}
.contact h3 {
  margin: 10px 30px;
  margin-bottom: 30px;
  font-size: 25px;
  text-align: center;
  font-style: italic;
  color: gray;
}
.contact-now:hover {
  background-color: #4d8cf5;
  color: white;
}
.article-img {
  background-image: linear-gradient(rgb(0, 0, 0, 0.5), rgb(0, 0, 0, 0.5)),
    url(blog/artcle-img.jpg);
  position: relative;
  width: 1500px;
  height: 400px;
}

.testimonials {
  display: grid;
  justify-content: center;
  align-items: center;
  position: absolute;
  color: white;
  top: 2300px;
  left: 620px;
  grid-template-rows: 1fr 1fr 1fr;
  margin-left: 20px;
  margin-top: 50px;
}
.linee {
  border-top: 3px solid white;
  width: 80px;
  margin-left: 36px;
}
.walter {
  margin-left: 20px;
  margin-top: 23px;
  font-weight: bold;
  color: #4d8cf5;
  font-size: 17px;
}
.article-info {
  margin-left: -300px;
  width: 1000px;
  font-size: 20px;
}
.article-title {
  font-weight: bold;
  font-size: 23px;
  margin-left: -25px;
  margin-bottom: -60px;
}
.icons {
  width: 35px;
  height: 20px;
  color: #4d8cf5;
  margin: 20px 20px;
}
.body-2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 1200px;
  margin-left: 200px;
  row-gap: 50px;
  column-gap: 50px;
  margin-top: 30px;
}
.side-heading {
  margin-bottom: 19px;
  margin-top: 30px;
}
.authors {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;

  justify-content: center;
  /* column-gap: 200px; */
  margin-left: 100px;
  width: 1400px;
  margin-top: 20px;
}
.author-data {
  display: grid;
  justify-content: center;
  margin-right: 90px;
}
.coding {
  background-image: linear-gradient(rgb(0, 0, 0, 0.5), rgb(0, 0, 0, 0.5)),
    url(coding.jpg);
  width: 1500px;
  height: 400px;
  position: relative;
  margin-top: 30px;
}
.coding-info {
  position: absolute;
  top: 4300px;
  right: 250px;
  font-size: 26px;
  width: 900px;
  color: white;
  margin-bottom: 100px;
}
.play-button {
  position: absolute;
  top: -110px;
  right: 500px;

  width: 100px;
  height: 30px;
}
.coding-download {
  position: absolute;
  top: 4400px;
  right: 720px;
  padding-top: 10px;
  padding-bottom: 10px;

  padding-right: 30px;
  padding-left: 30px;
  border-radius: 5px;
  font-weight: bold;

  border-radius: 10px;
  text-decoration: none;
  margin-left: 280px;
  background-color: #4d8cf5;
}
.coding-download:hover {
  color: white;
}
.photo1.jpg {
  background-image: linear-gradient(rgb(0, 0, 0, 0.5), rgb(0, 0, 0, 0.5));
}

.blogs {
  width: 1200px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 30px;
  row-gap: 20px;
  margin-left: 195px;
  margin-top: 40px;
}
.photo-info {
  width: 300px;
}
.photo-info h3 {
  margin-bottom: 30px;
}
.blog-info {
  margin-bottom: 15px;
  margin-top: 8px;
}
a {
  text-decoration: none;
}
.read-our-blog {
  border: 2px solid #4d8cf5;

  border-radius: 10px;
  width: 200px;
  padding: 10px 10px;
  text-align: center;
  margin-left: 620px;
  margin-top: 40px;
  color: white;
}
.read-our-blog:hover {
  background-color: #4d8cf5;
  color: white;
  text-decoration: white;
  font-weight: bold;
}
